@import url('https://fonts.googleapis.com/css?family=Poor+Story|Titan+One');
body {
  font-family: 'Titan One', cursive;
}

@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
}

#newGame {
  max-width: 200px;
  max-height: 300px;
  border: 2px solid #000080;
  margin-left: 45%;
  margin-bottom: 10px;
  color: white;
  background-color: #008000;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Poor Story', cursive;
}

#newGame:hover {
  cursor: pointer;
}

#landing {
  background-image: url("tic-tac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
  width: 100%;
}

#landing .overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  min-height: 1000px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.info {
  text-align: center;
}

.board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #000080;
  color: #fff;
  /* border: 6px solid grey; */
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.box {
  border: 6px solid #800000;
  border-radius: 2px;
  font-family: 'Poor Story', cursive;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winningCombo {
  background-color: #008000;
  text-decoration: line-through;
  /* text-decoration: line-through;
  animation: strike 4s linear; */
}

.box:hover {
  cursor: pointer;
}

#message {
  font-size: 2rem;
  background-color: white;
  display: block;
}